.workout__container {
    background-color: var(--tertiary-background-grey);
    padding: 10px;
    margin-bottom: 10px;
    color: var(--black-text);
}

.workout__header {
    display: inline-block;
}

.workout__header--date {
    font-size: 18px;
}

.workout__header--groups {
    font-size: 16px;
}

.workout__exercise {
    font-size: 12px;
    padding-left: 40px;
}

.workout__modal--container {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 90%;
    background-color: var(--secondary-background-white);
    padding: 10px;
    box-shadow: var(--modal-shadow);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.workout__header--container {
    color: var(--main-text-grey);
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-background-grey);
    margin-bottom: 10px;
}


.workout__modal--exerciseContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.workout__notes--container {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.workout__notes {
    color: var(--main-text-grey);
    font-size: 14px;
}

.workout__modal--background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(112, 128, 144, 0.5);
}

.workout__button--container {
    display: flex;
    flex-direction: row-reverse;
}

.workout__delete {
    color: red;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 3px;
    width: fit-content;
    margin-left: 15px;
}

@media screen and (min-width: 400px) {
    .workout__modal--container {
        height: calc(812px * 0.6);
        width: calc(375px * 0.9);
    }
}